@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CS0 </title>
    <link href="~/css/icomoon/styles.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/fontawesome/styles.min.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/bootstrap_limitless.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/colors.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/components.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/layout.min.css" rel="stylesheet" asp-append-version="true" />


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            // Get the current URL
            var currentUrl = window.location.href.toLowerCase();

            // Highlight the active menu item for non-treeview items

            $('ul.nav-sidebar a').filter(function () {
                return this.href.toLowerCase() === currentUrl;
            }).addClass('menu-active');

            // For treeview items (submenus)
            $('ul.nav-group-sub a').filter(function () {
                return this.href.toLowerCase() === currentUrl;
            }).each(function () {
                // Open the parent submenu and highlight the active item
                $(this).closest('.nav-item-submenu').addClass('menu-open');
            });

            $('.nav-group-sub').each(function () {
                // Check if the submenu contains an active item
                if ($(this).find('.menu-active').length > 0) {
                    $(this).addClass('open');
                }
            });
        });
    </script>

    <style type="text/css">
        .menu-active {
            background-color: #fff !important;
            color: black !important;
            font-weight: bold;
            font-size: small;
            border-radius: 8px;
        }

        .nav-group-sub {
            display: none;
        }

            .nav-group-sub.open {
                display: block; /* Show the submenu when it has the 'open' class */
                color: #FFFF00 !important;
            }

        @@media (max-width: 767.98px) {
            .navbar-brand

        {
            flex-direction: column !important;
            align-items: flex-start !important;
        }

        .navbar-brand span {
            font-size: 14px !important;
            line-height: 1.3;
            white-space: normal;
        }

        }

    </style>
</head>
<body>
    <!-- Main navbar -->
    <div class="navbar navbar-expand-md navbar-dark navbar-static">
        <div class="d-md-none">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
                <i class="icon-tree5"></i>
            </button>
            <button class="navbar-toggler sidebar-mobile-main-toggle" type="button">
                <i class="icon-paragraph-justify3"></i>
            </button>
        </div>

        <div class="navbar-collapse d-block" id="navbar-mobile">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="#" class="navbar-nav-link sidebar-control sidebar-main-toggle d-none d-md-block mt-1">
                        <i class="icon-paragraph-justify3"></i>
                    </a>
                </li>

                <div class="navbar-brand w-100 d-flex flex-column flex-md-row align-items-start align-items-md-center justify-content-between px-2">
                    <span class="text-white font-weight-bold text-wrap" style="font-size: 1rem;">
                        Customer Satisfaction Opportunities
                    </span>
                    <span class="text-white mt-1 mt-md-0" style="font-size: 0.85rem;">
                        Version - 1.1 17/05/2025
                    </span>
                </div>

            </ul>
            <span class="badge ml-md-3 mr-md-auto"> </span>
            <ul class="navbar-nav">
                <li class="nav-item dropdown dropdown-user">
                    <a href="#" class="navbar-nav-link d-flex align-items-center dropdown-toggle" data-toggle="dropdown">
                        <span>
                            <span class="font-weight-bold">@HttpContextAccessor.HttpContext.Session.GetString("FullName")</span>
                        </span>
                    </a>

                    <div class="dropdown-menu dropdown-menu-right">
                        <a href="#" class="dropdown-item"><i class="icon-cog5"></i> Account settings</a>
                        <a href="@Url.Action("Logout", "Account")" class="dropdown-item"><i class="icon-switch2"></i> Logout</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- /main navbar -->
    <!-- Page content -->
    <div class="page-content">
        <!-- Main sidebar -->
        <div class="sidebar sidebar-dark sidebar-main sidebar-expand-md">
            <!-- Sidebar mobile toggler -->
            <div class="sidebar-mobile-toggler text-center">
                <a href="#" class="sidebar-mobile-main-toggle">
                    <i class="icon-arrow-left8"></i>
                </a>
                Navigation
                <a href="#" class="sidebar-mobile-expand">
                    <i class="icon-screen-full"></i>
                    <i class="icon-screen-normal"></i>
                </a>
            </div>
            <!-- /sidebar mobile toggler -->
            <!-- Sidebar content -->
            <div class="sidebar-content">
                <!-- User menu -->
                <div class="sidebar-user">
                    <div class="card-body text-center bg-white p-3 border-right">
                        <a>
                            <img id="imglogo" name="imglogo" src="~/images/wipro-logo.png" class="img-fluid  shadow-0 " alt="" />
                        </a>
                    </div>
                </div>
                <!-- /user menu -->
                <!-- Main navigation -->
                <div class="card card-sidebar-mobile">
                    <ul class="nav nav-sidebar" data-nav-type="accordion">

                        <li class="nav-item">
                            <a asp-controller="" asp-action="" class="nav-link" title="Dashboard" id="Dashboard">
                                <i class="icon-home4"></i>
                                <span>Dashboard</span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a asp-controller="" asp-action="" class="nav-link" id="Log_CSO" title="Log CSO">
                                <i class="far fa-edit"></i>
                                <span>
                                    Log CSO
                                </span>
                            </a>
                        </li>


                        <li class="nav-item">
                            <a asp-controller="" asp-action="" class="nav-link" id="Analysis_Solution" title="Analysis & Solution">
                                <i class="fas fa-clipboard-list"></i>
                                <span>
                                    Analysis & Solution
                                </span>
                            </a>
                        </li>

                        <li class="nav-item nav-item-submenu">
                            <a href="#" class="nav-link" title="Reports" id="Masters"><i class="icon-file-eye"></i><span>Reports</span></a>
                            <ul class="nav nav-group-sub" data-submenu-title="Reports">

                                <li class="nav-item  nav-item-submenu">
                                    <a asp-controller="" asp-action="" class="nav-link" title="MIS" id="MIS">
                                        <i class="icon-pencil5"></i>
                                        <span>MIS</span>
                                    </a>
                                </li>

                                <li class="nav-item  nav-item-submenu">
                                    <a asp-controller="" asp-action="" class="nav-link" title="CSO Log Report" id="CSO_Log_Report">
                                        <i class="icon-pencil5"></i>
                                        <span>CSO Log Report</span>
                                    </a>
                                </li>

                            </ul>
                        </li>

                        <li class="nav-item">
                            <a asp-controller="" asp-action="" class="nav-link" title="CPS_Details" id="CPS">
                                <i class="fas fa-envelope-square"></i>
                                <span>
                                    Email/SMTP Setting
                                </span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a asp-controller="" asp-action="" class="nav-link" title="Users" id="Users">
                                <i class="icon-user"></i>
                                <span>
                                    User
                                </span>
                            </a>
                        </li>



                        <li class="nav-item">
                            <a asp-controller="" asp-action="" class="nav-link" title="Email" id="Email">
                                <i class="fas fa-envelope-square"></i>
                                <span>
                                    Mail Matrix
                                </span>
                            </a>
                        </li>



                        <li class="nav-item nav-item-submenu">
                            <a href="#" class="nav-link" title="Utility" id="Utility"><i class="icon-copy"></i> <span>Utility</span></a>
                            <ul class="nav nav-group-sub" data-submenu-title="Utility">

                                <li class="nav-item  nav-item-submenu">
                                    <a asp-controller="" asp-action="" class="nav-link" title="Division" id="Division">
                                        <i class="icon-pencil5"></i>
                                        <span>Division</span>
                                    </a>
                                </li>

                                <li class="nav-item  nav-item-submenu">
                                    <a asp-controller="" asp-action="" class="nav-link" title="Category" id="Category">
                                        <i class="icon-pencil5"></i>
                                        <span>Category</span>
                                    </a>
                                </li>
                            </ul>
                        </li>


                    </ul>
                </div>


                <!-- /main navigation -->
            </div>
            <!-- /sidebar content -->
        </div>
        <!-- /main sidebar -->
        <!-- Main content -->
        <div class="content-wrapper">
            @RenderBody()
        </div>
        <!-- /main content -->
    </div>
    <!-- /page content -->


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- Core JS files -->
    <script src="~/js/app.js" asp-append-version="true"></script>
    <script src="~/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/blockui.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/d3.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/d3_tooltip.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/switchery.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/moment.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/daterangepicker.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/echarts.min.js" asp-append-version="true"></script>
    <script src="~/js/Dashboard/progress.js" asp-append-version="true"></script>
    <script src="~/js/Dashboard/pie_basic.js" asp-append-version="true"></script>
    <script src="~/js/Dashboard/columns_basic.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/noty.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/popupalert.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/pnotify.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/interactions.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/touch.min.js" asp-append-version="true"></script>
    <script src="~/js/components_collapsible.js" asp-append-version="true"></script>
    <!-- /core JS files -->
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>