@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CSO </title>
    <link href="~/css/icomoon/styles.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/fontawesome/styles.min.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/bootstrap_limitless.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/colors.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/components.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/layout.min.css" rel="stylesheet" asp-append-version="true" />
   

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        // $(document).ready(function () {
        //     // Get the current URL
        //     var currentUrl = window.location.href.toLowerCase();

        //     // Highlight the active menu item for non-treeview items

        //     $('ul.nav-sidebar a').filter(function () {
        //         return this.href.toLowerCase() === currentUrl;
        //     }).addClass('menu-active');

        //     // For treeview items (submenus)
        //     $('ul.nav-group-sub a').filter(function () {
        //         return this.href.toLowerCase() === currentUrl;
        //     }).each(function () {
        //         // Open the parent submenu and highlight the active item
        //         $(this).closest('.nav-item-submenu').addClass('menu-open');
        //     });

        //     $('.nav-group-sub').each(function () {
        //         // Check if the submenu contains an active item
        //         if ($(this).find('.menu-active').length > 0) {
        //             $(this).addClass('open');
        //         }
        //     });
        // });
    </script>

    <style type="text/css">
        .menu-active {
            background-color: #fff !important;
            color: black !important;
            font-weight: bold;
            font-size: small;
            border-radius: 8px;
        }

        .nav-group-sub {
            display: none;
        }

            .nav-group-sub.open {
                display: block; /* Show the submenu when it has the 'open' class */
                color: #FFFF00 !important;
            }

        @@media (max-width: 767.98px) {
            .navbar-brand

        {
            flex-direction: column !important;
            align-items: flex-start !important;
        }

        .navbar-brand span {
            font-size: 14px !important;
            line-height: 1.3;
            white-space: normal;
        }

        }

    </style>
</head>
<body>
   
    <!-- Main navbar -->
    <div class="navbar navbar-expand-lg navbar-dark navbar-static">
        

        <div class="navbar-brand wmin-0 mr-lg-5">

            <img id="imglogo" name="imglogo" src="~/images/wipro-logo.png" class="img-fluid  shadow-0 " alt="" />
       
        </div>

        

        <ul class="navbar-nav flex-row order-1 order-lg-2 flex-1 flex-lg-0 justify-content-end align-items-center">
          

            <li class="nav-item nav-item-dropdown-lg dropdown dropdown-user h-100">
                <a href="#" class="navbar-nav-link navbar-nav-link-toggler d-inline-flex align-items-center h-100 dropdown-toggle" data-toggle="dropdown">

                    <span>
                        <span class="font-weight-bold">@HttpContextAccessor.HttpContext.Session.GetString("FullName")</span>
                    </span>
                </a>

                <div class="dropdown-menu dropdown-menu-right">
                    <a href="#" class="dropdown-item"><i class="icon-cog5"></i> Account settings</a>
                    <a href="@Url.Action("Logout", "Account")" class="dropdown-item"><i class="icon-switch2"></i> Logout</a>
                </div>
            </li>
        </ul>
    </div>
    <!-- Secondary navbar -->
    <div class="navbar navbar-expand navbar-light px-0 px-lg-3">
        <div class="overflow-auto overflow-lg-visible scrollbar-hidden flex-1">
            <ul class="navbar-nav flex-row text-nowrap">
                <li class="nav-item">
                    <a asp-controller="" asp-action="" class="nav-link" title="Dashboard" id="Dashboard">
                        <i class="icon-home4"></i>
                        <span>Dashboard</span>
                    </a>
                </li>

                <li class="nav-item nav-item-dropdown-lg mega-menu-full">
                    <a href="#" class="navbar-nav-link dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-stack2 mr-2"></i>
                        CSO
                    </a>

                    <div class="dropdown-menu dropdown-scrollable-lg wmin-lg-300 p-0">
                        <div class="dropdown-content-body">
                            <div class="row">
                                <div class="col-md-3 mb-3 mb-md-0">
                                    <div class="font-weight-bold border-bottom pb-2 mb-2">View Users</div>
                                    <a asp-controller="User" asp-action="UserDetail" class="nav-link" title="Dashboard" id="Dashboard">
                                        <i class="icon-people"></i>
                                        <span>User</span>
                                    </a>
                                   
                                </div>

                                <div class="col-md-3 mb-3 mb-md-0">
                                    <div class="font-weight-bold border-bottom pb-2 mb-2">Log CSO</div>
                                    <a asp-controller="" asp-action="" class="nav-link" title="CSO Log" id="CSOLog">
                                        <i class="far fa-edit"></i>
                                        <span>CSO Log</span>
                                    </a>
                                    <a asp-controller="" asp-action="User Detail" class="nav-link" title="Analysis and Solution" id="AnalysisandSolution">
                                        <i class="fas fa-clipboard-list"></i>
                                        <span>Analysis and Solution</span>
                                    </a>
                                </div>

                                <div class="col-md-3">
                                    <div class="font-weight-bold border-bottom pb-2 mb-2">Report</div>
                                    <a asp-controller="" asp-action="" class="nav-link" title="MIS" id="MIS">
                                        <i class="fas fa-regular fa-folder-tree"></i>
                                        <span>MIS</span>
                                    </a>
                                    <a asp-controller="" asp-action="User Detail" class="nav-link" title="CSO Log Report" id="CSOLogReport">
                                        <i class="fas fa-regular fa-rectangle-list"></i>
                                        <span>CSO Log Report</span>
                                    </a>
                                </div>
                                <div class="col-md-3">
                                    <div class="font-weight-bold border-bottom pb-2 mb-2">Configration</div>
                                    <a asp-controller="" asp-action="" class="nav-link" title="Mail Matrix" id="Mail Matrix">
                                        <i class="fas fa-envelope-square"></i>
                                        <span>Mail Matrix</span>
                                    </a>
                                    <a asp-controller="" asp-action="User Detail" class="nav-link" title="Dashboard" id="Dashboard">
                                        <i class="icon-gear"></i>
                                        <span>Email/SMTP Setting</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item nav-item-dropdown-lg mega-menu-full">
                    <a href="#" class="navbar-nav-link dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-indent-decrease2 mr-2"></i>
                        Master
                    </a>

                    <div class="dropdown-menu dropdown-scrollable-lg wmin-lg-300 p-0">
                        <div class="dropdown-content-body">
                            <div class="row">
                                <div class="col-md-3 mb-3 mb-md-0">
                                    <div class="font-weight-semibold border-bottom pb-2 mb-2">Primary</div>
                                    <a asp-controller="" asp-action="User Detail" class="nav-link" title="Dashboard" id="Dashboard">
                                        <i class="icon-gear"></i>
                                        <span>Division</span>
                                    </a>
                                    <a asp-controller="" asp-action="User Detail" class="nav-link" title="Dashboard" id="Dashboard">
                                        <i class="icon-gear"></i>
                                        <span>Category</span>
                                    </a>
                                    <a asp-controller="" asp-action="User Detail" class="nav-link" title="Dashboard" id="Dashboard">
                                        <i class="icon-gear"></i>
                                        <span>Complain Type</span>
                                    </a>
                                    <a asp-controller="" asp-action="User Detail" class="nav-link" title="Dashboard" id="Dashboard">
                                        <i class="icon-gear"></i>
                                        <span>CSO Class</span>
                                    </a>
                                    <a asp-controller="" asp-action="User Detail" class="nav-link" title="Dashboard" id="Dashboard">
                                        <i class="icon-gear"></i>
                                        <span>Brand</span>
                                    </a>
                                    
                                </div>

                                <div class="col-md-3 mb-3 mb-md-0">
                                    <div class="font-weight-semibold border-bottom pb-2 mb-2">Secondary</div>
                                    <a asp-controller="" asp-action="User Detail" class="nav-link" title="Dashboard" id="Dashboard">
                                        <i class="icon-gear"></i>
                                        <span>Product Type</span>
                                    </a>
                                    <a asp-controller="" asp-action="User Detail" class="nav-link" title="Dashboard" id="Dashboard">
                                        <i class="icon-gear"></i>
                                        <span>Plant</span>
                                    </a>
                                        <a asp-controller="" asp-action="User Detail" class="nav-link" title="Dashboard" id="Dashboard">
                                            <i class="icon-gear"></i>
                                            <span>Nearest Plant</span>
                                        </a>
                                        <a asp-controller="" asp-action="User Detail" class="nav-link" title="Dashboard" id="Dashboard">
                                            <i class="icon-gear"></i>
                                            <span>User Role</span>
                                        </a>
                                    <a asp-controller="" asp-action="User Detail" class="nav-link" title="Dashboard" id="Dashboard">
                                        <i class="icon-gear"></i>
                                        <span>Recycle Days Configration</span>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>
                </li>
            </ul>
          </div>
     </div>
    <div class="content-wrapper">
        @RenderBody()
    </div>
                

    <!-- /page content -->


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- Core JS files -->
    <script src="~/js/app.js" asp-append-version="true"></script>
    <script src="~/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/blockui.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/d3.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/d3_tooltip.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/switchery.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/moment.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/daterangepicker.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/echarts.min.js" asp-append-version="true"></script>
    <script src="~/js/Dashboard/progress.js" asp-append-version="true"></script>
    <script src="~/js/Dashboard/pie_basic.js" asp-append-version="true"></script>
    <script src="~/js/Dashboard/columns_basic.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/noty.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/popupalert.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/pnotify.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/interactions.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/touch.min.js" asp-append-version="true"></script>
    <script src="~/js/components_collapsible.js" asp-append-version="true"></script>
    <!-- /core JS files -->
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>